.head-con {
    margin: 14px 0;
    width: 100%;
    height: fit-content;
    background-color: aqua;
    color: #E35F43;
}
.head-con div {
    font-size: 20px;
}
.head-con-text {
    padding: 20px;
    float: left;
}
.goBack {
    color: #E35F43;
    float: left;
    padding: 16px 28px;
    margin-right: 12px;
    background-color: rgb(230, 228, 228);
}
.goBack:hover {
    color: #E35F43;
    cursor: pointer;
    opacity: 0.8;
}
.refresh {
    color: #E35F43;
    float: right;
    padding: 16px 28px;
    background-color: rgb(230, 228, 228);
}
.refresh:hover {
    color: #E35F43;
    cursor: pointer;
    opacity: 0.8;
}
.clockIcon {
    padding: 18px 0;
}

.devi-block {
    width: 100%;
    margin: 14px 0;
    display: inline-block;
}

.fa-laptop-code {
    float: left; 
    font-size: 34px;
    padding: 16px 16px;
}
.fa-clock {
    font-size: 14px;
    padding-left: 10px;
}
.devi-head div {
    font-size: 30px;
    color: #E35F43;
    padding: 16px;
}
.devi-head {
    background-color: rgb(236, 236, 236);
    height: fit-content;
}

.temp-con, .humi-con {
    float: left;
    width: 48%;
    border-radius: 8px;
} 
.temp-con {
    background-color: #4E0000;
}
.humi-con {
    background-color: #232344;
    float: right;
}
.temp-text, .humi-text {
    text-align: center;
}

.temp {
    font-size: 60px;
    color: #F9EEEB;
}
.fa-thermometer-half {
    font-size: 48px;
    color: #F3AE9F;
    margin-right: 18px;
}
.fa-tint {
    font-size: 48px;
    color: #AEB0FF;
    margin-right: 18px;
}
.humi {
    font-size: 60px;
    color: #EBECFB;
}

.temp, .humi {
    margin: 6px auto;
}


#dName {
    font-size: 34px;
    padding: 8px 16px;
    font-weight: bold;
}

.export-con {
    width: 100%;
    height: fit-content;
    padding: 4px;
    margin: 20px auto;
    background-color: rgb(241, 241, 241);
    box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.19);
}

.ex-title, .ex-btn {
    display: inline-block;
}
.excel-icon {
    font-size: 32px;
    margin-left: 20px;
}
.ex-title {
    font-size: 22px;
    margin: 16px;
    color: #E35F43;
}

.sh-btn {
    float: right;
    font-size: 22px;
    margin: 12px 20px;
    padding: 2px 38px;
    border: 2px solid #9c9c9c;
    border-radius: 4px;
    background-color: white;
    color: #9c9c9c;
}
.sh-btn:hover {
    background-color: #9c9c9c;
    color: white;
}
.timeSet {
    width: 100%;
    display: inline-block;
    border-radius: 6px;
    padding: 6px;
}
.calendarTime {
    width: fit-content;
    float: right;
}
.btnTime {
    width: fit-content;
    float: left;
}
.timeDuration, .getTimeBtn {
    font-size: 16px;
    padding: 4px 12px;
    margin: 12px 4px;
    color: #E35F43;
    background-color: white;
    border: 1px solid #E35F43;
    border-radius: 3px;
}
.timeSet input {
    font-size: 16px;
    padding: 3px 10px;
    margin: 12px 4px;
    color: #E35F43;
    border: 1px solid #E35F43;
    border-radius: 3px;
} 
.timeSet label {
    font-size: 16px;
    padding: 2px 2px;
    margin: 14px 4px 14px 18px;
    color: #E35F43;
} 
.getTimeBtn:hover {
    color: white;
    background-color: #E35F43;
}

#dayDuration {
    background-color: #E35F43;
    color: white;
}
#resetZoom:hover {
    background-color: #E35F43;
    color: white;
}
.tbl-con {
    width: 100%;
    overflow-y: scroll;
    height: 660px;
    padding: 20px 24px;
    margin-bottom: 20px;
    background-color: rgb(248, 248, 248);
    box-shadow: 5px 5px 8px 3px rgba(0,0,0,0.19);
}
.table2excel {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
    font-size: 16px;
}
.table2excel th, .table2excel td {
    padding: 6px 10px;
    text-align: center;
}
.table2excel th {
    background-color: rgb(221, 135, 118);
    color: white;
}
.table2excel td {
    color: #646464;
}
.table2excel tr:hover {
    background-color: #fde1dc;
}
table tr td:nth-child(1) {
    width: 5%;
}
table tr td:nth-child(2) {
    width: 10%;
}
table tr td:nth-child(3) {
    width: 20%;
}
table tr td:nth-child(4) {
    width: 10%;
    color: #e45231;
}
table tr td:nth-child(5) {
    width: 10%;
    color: #4244c4;
}
tr:nth-child(even) {
    background-color: #f7e9e6;
}

.dropdown {
    float: right;
    margin-left: 14px;
}
.dropbtn i {
    font-size: 26px;
}
.dropbtn {
    color: #E35F43;
    padding: 13px 28px;
    background-color: rgb(230, 228, 228);
    cursor: pointer;
    border: none;
}

.dropbtn:hover, .dropbtn:focus {
    opacity: 0.8;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(92, 92, 92);
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.show {display: block;}

@media screen and (max-width: 600px) {
    .head-con {
        margin: 8px 0;
    }
    .fa-laptop-code {
        font-size: 30px;
        padding: 14px 6px;
    }
    .clockIcon {
        padding: 14px 0;
    }
    .fa-clock {
        padding-left: 0;
    }
    .refresh {
        padding: 10px 20px;
    }
    .dropbtn i {
        font-size: 22px;
    }
    .dropbtn {
        padding: 8px 24px;
    }
    .devi-block {
        margin-bottom: 4px;
    }
    #dName {
        font-size: 20px;
        padding: 16px 10px;
    }
    #lastTime {
        font-size: 20px;
        padding: 16px 10px;
    }
    .temp, .humi {
        font-size: 30px;
    }
    .temp i, .humi i {
        font-size: 28px;
    }
    .ex-title {
        width: 40%;
        font-size: 18px;
        margin: 10px 14px;
        vertical-align: middle;
    }
    .export-con i {
        font-size: 30px;
    }
    .excel-icon {
        margin-left: 14px;
    }
    .ex-btn {
        margin: 16px 16px 16px 10px;
        padding: 4px 10px;
        font-size: 18px;
    }
    .timeDuration {
        font-size: 14px;
        margin: 6px 4px 10px 4px;
    }
    .timeSet input, .timeSet label, #calc {
        font-size: 14px;
        margin: 6px 4px;
    }
    .timeSet input {background-color: white;}
    .sh-btn {
        font-size: 16px;
        margin: 18px 14px;
        padding: 2px 18px;
    }
    #date_from {
        width: 80%;
    }
    #date_to {
        width: 82%;
    }
    .getTimeBtn {
        float: right;
    }
}